<h1>CuteGame Editor</h1>

<p>Version 0.1</p>

<h2>Key shortcuts</h2>

<ul>
<li><p>Ctrl + N - new project</p></li>
<li><p>Ctrl + O - open project</p></li>
<li><p>Ctrl + S - save project</p></li>
<li><p>Ctrl + Shift + S - save project as</p></li>
<li><p>Ctrl + Z - undo</p></li>
<li><p>Ctrl + Shift + Z - redo</p></li>
</ul>

